<div class="row">
    <div class="col-sm-12">
        <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm">
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" [disabled] ="!recipeForm.valid" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" formControlName="name" id="name" class="form-control">
                        <span *ngIf="!recipeForm.get('name')!.valid && recipeForm.get('name')!.touched"
                            class="help-block">

                            Name is required</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="imagePath">Image Url</label>
                        <input type="text" formControlName="imagePath" id="imagePath" class="form-control" #imagePath>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <img [src]="imagePath.value" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea formControlName="description" id="description" class="form-control"
                            rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>Ingredients</h4>
                </div>

                <div class="col-sm-12">
                    <button type="button" class="btn btn-dark" (click)="addIngredient()">+</button>
                </div>


                <div class="col-sm-12" formArrayName="ingredients">
                    <div class="row" *ngFor="let ingredient of getIngredients();let i=index" [formGroupName]="i">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="name"  >
                                <span *ngIf="!getControl(i).get('name')!.valid && getControl(i).get('name')!.touched"
                                class="help-block">
    
                                Name is required</span> 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <input type="number" class="form-control" formControlName="amount">
 
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-danger" (click)="DeleteIngredient(i)" >X</button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>